In [2]:
import pandas as pd
import numpy as np

In [18]:
# temp[temp.id==68355089]
# tem.id.value_counts().reset_index().sort_values('count')
temp = pd.read_csv(r'/Users/saisandeep/GitRepo/musical-eureka/Kaggle/Lending_Club/Data/accepted_2007_to_2018Q4.csv')
temp.head(1000).to_csv('/Users/saisandeep/GitRepo/musical-eureka/Kaggle/Lending_Club/Data/Lending_club_sample.csv',index=False)
temp.member_id.isna().sum()

np.int64(2260701)

In [20]:
temp_ = temp.isna().sum().reset_index()
temp_.columns = ['column_name','na_fields']
temp_['pct_NA']= round((temp_['na_fields']/len(temp))*100,2)
# temp_ = temp_[temp_[0]==2260701]
temp_.sort_values('pct_NA',ascending=False,inplace=True)
cols_drop = temp_[temp_['pct_NA']>90].column_name.unique()

temp.drop(columns=cols_drop,inplace=True)
temp.head(1000).to_csv('/Users/saisandeep/GitRepo/musical-eureka/Kaggle/Lending_Club/Data/Lending_club_sample_removing_null_cols.csv',index=False)

In [25]:
temp_debt_settlement_flag =temp[['debt_settlement_flag','loan_status']].value_counts().reset_index()
temp_debt_settlement_flag.columns = ['temp_debt_settlement_flag','loan_status','num_of_cust']
temp_debt_settlement_flag.sort_values(['temp_debt_settlement_flag','loan_status'])

,temp_debt_settlement_flag,loan_status,num_of_cust
2,N,Charged Off,235288
1,N,Current,878289
10,N,Default,34
9,N,Does not meet the credit policy. Status:Charge...,751
7,N,Does not meet the credit policy. Status:Fully ...,1988
0,N,Fully Paid,1076746
5,N,In Grace Period,8426
6,N,Late (16-30 days),4338
4,N,Late (31-120 days),20562
3,Y,Charged Off,33271
11,Y,Current,28
15,Y,Default,6
13,Y,Does not meet the credit policy. Status:Charge...,10
16,Y,Fully Paid,5
14,Y,In Grace Period,10
12,Y,Late (16-30 days),11
8,Y,Late (31-120 days),905

In [23]:
[i for i in temp.columns]

['id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'hardship_flag',
 'disbursement_method',
 'debt_settlement_flag']

In [6]:
temp.isna().sum()

id                             0
member_id                2260701
loan_amnt                     33
funded_amnt                   33
funded_amnt_inv               33
                          ...
settlement_status        2226455
settlement_date          2226455
settlement_amount        2226455
settlement_percentage    2226455
settlement_term          2226455
Length: 151, dtype: int64